In [ ]:
!pip install scikit-plot

from sklearn.preprocessing import LabelEncoder
import pandas as pd

from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.svm import SVC, LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn import metrics, model_selection

import scikitplot as skplt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/gender-prediction.csv')
New_df = df
df

Mounted at /content/drive

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
75      65      99    no       short         39   yes     green  female
76      61      98    no       short         37    no     brown  female
77      67     119   yes       short         40    no     black    male
78      70     190   yes      medium         43    no      gray    male
79      62     142   yes        long         37    no      blue  female

[80 rows x 8 columns]

In [ ]:
New_df = New_df.drop(['beard','hair_length','scarf','eye_color','gender'], axis=1)
New_df

    height  weight  shoe_size
0       71     176         44
1       68     165         41
2       62     132         37
3       65     138         38
4       70     197         43
..     ...     ...        ...
75      65      99         39
76      61      98         37
77      67     119         40
78      70     190         43
79      62     142         37

[80 rows x 3 columns]

In [ ]:
labels = LabelEncoder()
beard_encoded = labels.fit_transform(df['beard'])
hair_length_encoded = labels.fit_transform(df['hair_length'])
scarf_encoded = labels.fit_transform(df['scarf'])
eye_color_encoded = labels.fit_transform(df['eye_color'])
gender_encoded = labels.fit_transform(df['gender'])

New_df['beard'] = beard_encoded
New_df['hair_length'] = hair_length_encoded
New_df['scarf'] = scarf_encoded
New_df['eye_color'] = eye_color_encoded
New_df['gender'] = gender_encoded
New_df

    height  weight  shoe_size  beard  hair_length  scarf  eye_color  gender
0       71     176         44      1            3      0          0       1
1       68     165         41      0            0      0          0       1
2       62     132         37      0            2      1          1       0
3       65     138         38      0            1      0          3       0
4       70     197         43      1            2      0          3       1
..     ...     ...        ...    ...          ...    ...        ...     ...
75      65      99         39      0            3      1          4       0
76      61      98         37      0            3      0          2       0
77      67     119         40      1            3      0          0       1
78      70     190         43      1            2      0          3       1
79      62     142         37      1            1      0          1       0

[80 rows x 8 columns]

In [ ]:
x = New_df.drop('gender', axis=1)
y = New_df['gender']

X_train, x_test, Y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 2)
#X_train, x_test, Y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)

In [ ]:
model = RandomForestClassifier()

model.fit(X_train,Y_train)
prediction = model.predict(x_test)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

model_cm = metrics.confusion_matrix(y_test, prediction)
print(model_cm)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00        15

    accuracy                           1.00        27
   macro avg       1.00      1.00      1.00        27
weighted avg       1.00      1.00      1.00        27

[[12  0]
 [ 0 15]]

In [ ]:
model = SVC()

model.fit(X_train,Y_train)
prediction = model.predict(x_test)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

model_cm = metrics.confusion_matrix(y_test, prediction)
print(model_cm)

              precision    recall  f1-score   support

           0       0.70      0.70      0.70        10
           1       0.82      0.82      0.82        17

    accuracy                           0.78        27
   macro avg       0.76      0.76      0.76        27
weighted avg       0.78      0.78      0.78        27

[[ 7  3]
 [ 3 14]]

6 instances incorrectly classified
3 instances incorrectly classified with 80/20 Split (better)

In [ ]:
model = LinearSVC()

model.fit(X_train,Y_train)
prediction = model.predict(x_test)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

model_cm = metrics.confusion_matrix(y_test, prediction)
print(model_cm)

3 instances incorrectly classified
0 instances incorrectly classified with 80/20 Split (better)

In [ ]:
model = MLPClassifier()

model.fit(X_train,Y_train)
prediction = model.predict(x_test)

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

model_cm = metrics.confusion_matrix(y_test, prediction)
print(model_cm)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00        10

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

[[ 6  0]
 [ 0 10]]

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

3 instances incorrectly classified
0 instances incorrectly classified with 80/20 Split (better)